/* Container for the admin login form */
.admin-login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(../assets/bg3.jpg);
    background-size: cover;
    width: 100vw;
    animation: fadeIn 0.5s ease-in-out;
  }
  
  /* Fade-in animation */
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  /* Style for the form */
  .admin-login-form {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 22rem;
    box-sizing: border-box;
  }
  .error{
    color: red;
    font-size: 0.8rem;
    font-weight: 600;
    margin-top: 0px;
  }
  /* Title of the form */
  .form-title {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #333;
  }
  
  /* Label styling */
  .form-label {
    display: block;
    margin-bottom: 1rem;
    color: #555;
    font-weight: bold;
  }
  
  /* Input field styling */
  .form-input {
    width: 100%;
    padding: 0.75rem;
    margin-top: 0.25rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
    box-sizing: border-box;
  }
  
  /* Button styling */
  .form-button {
    width: 100%;
    background-color: #007BFF;
    color: white;
    font-size: 1rem;
    border: none;
    padding: 1vh auto;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 1rem;
    transition: background-color 0.3s ease-in-out;
    display: block !important;
    margin: 1rem auto !important;
  }
  
  /* Button hover effect */
  .form-button:hover {
    background-color: #0056b3;
  }
  
  @media screen and (max-width:600px) {
    .admin-login-container{
      width: 100vw;
      margin: 0;
      padding: auto 0;
    }
    .admin-login-form{
      width: 100%;
      min-width: 100vw;
      margin: 0;
      padding: 40% 10vw;
      height: 100%;
      min-height: 100vh;
      box-shadow: none

    }
  }