.Userdashboard {
    min-width: 100vw;
    height: 100%;
    padding: 10vh 0vw 1vh 0;
    margin: 0;
    justify-content: center;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    background-color: #FAFAFA;
    position: relative; /* Ensure the pseudo-element is positioned relative to the dashboard */
  }
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; /* Adjust based on your layout */
    z-index: 100000;
  }

  .Userdashboard h1{
    text-align: center;
    font-weight: 900;
    z-index: 100;
    font-size: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    text-decoration: underline;
    color: rgb(16, 16, 16);
  }
  .Userdashboard::before {
    content: "";
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size:cover;
    background-repeat: no-repeat;
    background-image: url(../../assets/bg3.jpg);
    padding: 40vh 0 0 0;
    background-position: center;
    opacity: 1; 
    z-index: 0; 
    pointer-events: none; 
  }
  .content {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: white;
  }
  .Userdashboard .table-edit-wrapper {
    margin: auto auto 1rem auto;
  }

  .view-container h1{
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .apply-form{
    width: 25vw !important;
    height: auto;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
  }
  .apply-form h1{
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }
  .apply-form input{
    width: 60%;
    padding: 0.2rem 0.2rem;
    border-radius: 4px;
  }
  .apply-form form button{
    float: none !important;
    margin: 1rem auto;
  }
  .apply-form label{
    font-size: 1.1rem;
  }

  @media screen and (max-width:768px) {
    .Userdashboard h1{
        font-size: 2rem;
    }
    .apply-form{
      min-height: 55vh !important;
    }
  }